#players {
	width: 100%;
	min-height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.player-name {
	background-color: transparent !important;
}

/* PLAYERS */

.player-slot {
	display: flex;
	box-sizing: border-box;
	width: 50%;
	padding: 16px;
	height: 104px;
}

.player-slot.left {
	float: left;
	text-align: left;
}

.player-slot.right {
	float: right;
	flex-direction: row-reverse;
	text-align: right;
}

.player-slot.choose {
	border: 1px dashed #FFD556;
	background-color: rgba(255,255,255, 0.5);
	cursor: pointer;
}
.player-slot.choose:hover {
	border-style: solid;
	background-color: rgba(255,255,255, 0.25);
}

.player-slot.elect .avatar {
	box-shadow: 0 0 32px #FFD556;
}

.player-slot .avatar {
	flex-shrink: 0;
}
.player-slot .contents {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.player-slot .title {
	flex-shrink: 0;
	float: inherit;
}
.player-slot .chat {
	margin: 4px 8px;
	font-style: italic;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
}

.chat .player-name {
	color: inherit;
}

.player-slot h2 {
	font-weight: 300;
	margin: 0 8px;
	display: inline;
	font-size: 1.4em;
}

.player-slot.killed {
	opacity: 0.5;
	background-color: #E3644F;
}

.icon {
	display: inline-block;
	line-height: 0;
}
.typing {
	font-size: 1.3em;
}
.talking {
	font-size: 1.7em;
}

.right .title {
	display: flex;
	flex-direction: row-reverse;
}

/* AVATARS */

.avatar {
	position: relative;
	box-sizing: border-box;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid #F7E2C0;

	background-image: url(/images/unknown.png);
	background-size: cover;
}

.avatar .vote {
	position: absolute;
	bottom: -2px;
	left: 0;
	right: 0;
	border: 1px solid #383633;
	text-align: center;
	background-color: #F7E2C0;
}

@media (max-width: 719px) {
	.player-slot {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.player-slot {
		height: 46px;
		padding: 0;
		border-bottom: 1px solid #dfdbc4;
	}

	.player-slot h2 {
		font-size: 16px;
	}

	.player-slot .avatar {
	    width: 45px !important;
	    height: 45px !important;
	}

	.player-slot.elect .avatar {
		box-shadow: 0 0 0;
	}

	.player-slot .contents {
		background-color: #F7E2C0;
		padding: 8px;
	}

	.player-slot.left,
	.player-slot.right {
		float: left;
	}

	.player-slot#ps1, .player-slot#ps3, .player-slot#ps5, .player-slot#ps7, .player-slot#ps9 {
		flex-direction: initial;
		width: 50%;
		border-right: 1px solid #dfdbc4;
	}

	.player-slot#ps1 .title, .player-slot#ps3 .title, .player-slot#ps5 .title, .player-slot#ps7 .title, .player-slot#ps9 .title {
		flex-direction: initial;
	}

	.player-slot#ps2, .player-slot#ps4, .player-slot#ps6, .player-slot#ps8, .player-slot#ps10 {
		flex-direction: row-reverse;
		width: 50%;
	}

	.player-slot#ps2 .title, .player-slot#ps4 .title, .player-slot#ps6 .title, .player-slot#ps8 .title, .player-slot#ps10 .title {
		flex-direction: row-reverse;
	}

	.avatar {
		border-radius: 0;
		border: 0;
	}
}
