#s-lobby {
	text-align: center;
	overflow-y: auto;
}

#lobby-wait {
	margin-bottom: 48px;
}

#lobby-open-games li {
	margin: 16px auto;
	padding: 8px;
	background-color: #FFFFFE;
	border-radius: 6px;
	width: 480px;
	max-width: 100%;
    box-sizing: border-box;
}

#lobby-open-games li .play-button {
	background-color: #4CAF50;
	color: #fff;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
}

#lobby-open-games li .spectator-button {
	background-color: #2196F3;
	color: #fff;
	border: 0;
	font-size: 13px;
	height: 22px;
	margin-top: 10px;
	border-radius: 4px;
	cursor: pointer;
}

#lobby-open-games li .information {
    float: left;
    width: 50%;
}

#lobby-open-games li .button-container {
	float: right;
	width: 50%;
}

#lobby-open-games h4 {
	margin-top: 20px;
	margin-bottom: 10px;
}

#chat-container-lobby .player-name {
	color: inherit;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media (max-width: 500px) {

	#s-lobby h1 {
		font-size: 22px;
		margin: 0 10px;
	}

	#s-lobby hr {
		margin: 20px 0;
	}

	#s-lobby h2 {
		font-size: 18px;
	}

	#s-lobby p {
		font-size: 14px;
		margin: 10px 0;
	}

	#lobby-open-games li .information, #lobby-open-games li .button-container {
		float: none;
		width: 100%;
	}
}